<!doctype html>
<html>
<title> Stop animal cruelty</title>
<meta charset = "utf-8">
<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<body>
    <main>
        {{{body}}}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/signaturecanvas.js" type="text/javascript"></script>
</body>
</html>
