<h1 class="principal-title">Log In to your petition</h1>
<br>
<br>
<br>
<section id="main-img">
  <img src="no_animal_testing.jpg" alt="no_animal_testing">
</section>
<section id="user-input" class="card">
    <h2>Please log in:</h2>
    <h3 class="error">{{error}}</h3>
<form method="POST" action="/login">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" placeholder="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" id="pasword" placeholder="password"><br>
    <input type="submit" value="LOG IN" id="input-submit">
</form>
<h4>New members sign up <a href="/">here</a>.</h4>
</section>
